@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/back.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  backdrop-filter: blur(15px);
  width: 800px;
  height: 90vh;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 25px;
}

.text .logo {
  margin: 10px;
  color: #fff;
  margin-top: 2px;
  font-size: 25px;
  font-weight: 600;
}

.dialogues{
  position: absolute;
  overflow-y: scroll;
  max-height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dialogues::-webkit-scrollbar {
      width: 0;
      height: 0;
}

.dialogue{
  display: flex;
  width: 755px;
  backdrop-filter: blur(15px);
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 25px;
}

.user{
  display: flex;
}

.image img{
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

.user .name{
  display: flex;
  margin: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: .5em;
}

.btn{
  margin: 5px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.input-file {
	position: relative;
	display: flex;
	align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.input-file input[type=file] {
	position: absolute;
	opacity: 0;
	display: flex;
}
.input-file input{
	position: absolute;
	opacity: 0;
	display: flex;
}


