<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/login.css">
    <title>Login</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ form.email.label }}
                        {{ form.email(class="form-control", type="email") }}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.password.label }}
                        {{ form.password(class="form-control", type="password") }}
                    </div>
                    {{ form.submit(type="submit", class="btn btn-primary", style="width: 100%;
                            height: 40px;
                            border-radius: 40px;
                            background: #fff;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: 1em;
                            font-weight: 600;")}}
                    <div class="register">
                        <p>Don't have an account? <a href="/register">Register</a></p>
                    </div>
                    <div style="position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 50%;
                            color: red;
                            font-size: 1em;
                            pointer-events: none;
                            transition: .5s;
                            top: -1px;
                            font-weight: 650;">
                        {{ message }}
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>